<div class="row expanded app-dashboard-top-nav-bar">
    <div class="columns medium-2">
      <button data-toggle="app-dashboard-sidebar" class="menu-icon hide-for-medium"></button>
      <a class="app-dashboard-logo">
        <img src="assets/img/solve-logo@2x.png">
      </a>
    </div>



    <div class="columns shrink app-dashboard-top-bar-actions">
      <a href="#" class="notification-badge">
        <span class="badge alert"></span>
        <img src="../assets/img/icon-notification.svg">
      </a>
      <span class="current-employer">Your Employer</span>
    </div>
  </div>