
.members-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;

    @include breakpoint(small) {
        flex-direction: column;
    }

    @include breakpoint(large) {
        flex-direction: row;
    }

    .search-members {
        @include breakpoint(small) {
            margin-top: 12px;
        }

        @include breakpoint(large) {
            margin-top: 0;
        }
    }
}

.member-card {
    width: 100%;
    background: $super-light-blue;
    position: relative;

    a {
        margin-top: 6px;
        width: 100%;
        max-width: 90px;
        text-transform: uppercase;
        font-weight: 800;
        margin-bottom: 0;
        float: right;
        //height: 50px;
    }

    .member-overview {
        padding: 12px;
    }

    .member-name {
        font-weight: 800;
    }

    .progress-bar-spacer {
        margin-top: 20px;
    }

    .member-card-thumb {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background-color: $offwhite;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $white;
        //margin-bottom: 8px;
        background: $brand-blue url('../img/profile-thumb-example.png') no-repeat center center;
        background-size: 100% auto;
    }

    .overview-card-header {
        color: $royal-blue;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 24px;
        margin-bottom: 0;
    }

    .has-space {
        margin: 12px 0;
    }

}
